h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap:20px;
}
form input{
    margin: 5px;
}